.resume-form {
    max-width: 1600px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #307bc7;
}

button {
    margin-top: 15px;
    background-color: #307bc7;
    color: #ffffff;
}

input, label {
    margin-top: 15px;
}
